<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ZAVANA</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- Favicons -->
  <link href="{{url_for('static', filename='img/Zav.png')}}" rel="icon">
  <link href="{{url_for('static', filename='img/Zav.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="{{ url_for('mainpage') }}">ZaVaNa</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{{ url_for('mainpage') }}">Home</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('.mainpage',_anchor='about') }}">About</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('.mainpage',_anchor='services') }}">Services</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('.mainpage',_anchor='team') }}">Team</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('.mainpage',_anchor='contact') }}">Contact</a></li>
          <li><a class="getstarted scrollto" href="https://drive.google.com/file/d/187Tx4j_fs0PyHjiCoOPufNavKhXCPoT1/view?usp=sharing" target="_blank">Stock Ticker Symbols</a></li>
          <li><a class="getstarted scrollto" href="#pred">Explore Now</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
      <!-- ======= Cta Section ======= -->
      <section id="pred" class="pred">
        <div class="container" data-aos="zoom-in">
          <div class="row justify-content-center">
            <div class="text-center">
              <br><br><br><br><br>
                <h3 class="text-center">Enter Ticker Symbol</h3>
                <form action="/predict" method="POST">
                  <br>
                  <div class="row justify-content-center">
                    <div class="col-lg-5">
                      <input type="text" class="form-control" id="ticker" name="ticker" placeholder="Eg: RELIANCE">
                    </div>
                  </div>
                  <div class="col-lg-7 pred-btn-container text-center">
                    <button type="submit" class="pred-btn align-middle">Explore Now</button>
                  </div>  
                </form>        
            </div>
          </div>
          <br>
          <br>
          <br>
        </div>
      </section><!-- End Cta Section -->
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">           
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>Zavana</h3>
              <p>
                PES University Electronic City Campus<br>
                Bangalore 560 100<br>
                Karnataka, India <br><br>
                <strong>Phone:</strong> +91 9876543210<br>
                <strong>Email:</strong> zavanacontact@gmail.com<br>
              </p>
            </div>
            <div class="col-lg-3 col-md-6 footer-links foot-img" data-aos="zoom-in" data-aos-delay="200">
            </div>            
            <div class="col-lg-3 col-md-6 footer-links">
            </div> 
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Social Networks</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> 
      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>Zavana</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="{{ url_for('.mainpage',_anchor='team') }}">Akash, Naveen, Dhanik and Saiprakash</a>
        </div>
      </div>
    </footer><!-- End Footer -->
  
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
   <script src="{{url_for('static', filename='aos/aos.js')}}"></script>
   <script src="{{url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>
   <script src="{{url_for('static', filename='glightbox/js/glightbox.min.js')}}"></script>
   <script src="{{url_for('static', filename='isotope-layout/isotope.pkgd.min.js')}}"></script>
   <script src="{{url_for('static', filename='php-email-form/validate.js')}}"></script>
   <script src="{{url_for('static', filename='swiper/swiper-bundle.min.js')}}"></script>
   <script src="{{url_for('static', filename='waypoints/noframework.waypoints.js')}}"></script>
 
   <!-- Template Main JS File -->
   <script src="{{url_for('static', filename='js/main.js')}}"></script>
  
  </body>
  </html>